<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <servlet-class>DisplayProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserServlet</servlet-name>
        <servlet-class>DisplayUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImageServlet</servlet-name>
        <servlet-class>DisplayImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserValidationServlet</servlet-name>
        <servlet-class>UserValidationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayProductsServlet</servlet-name>
        <url-pattern>/DisplayProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserServlet</servlet-name>
        <url-pattern>/DisplayUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImageServlet</servlet-name>
        <url-pattern>/DisplayImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserValidationServlet</servlet-name>
        <url-pattern>/UserValidationServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>/AddToCartServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
</servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
